.navbar {
background-color: #92b632;
font-family: 'font-family: Londrina', sans-serif;
  font-weight: bold;
}
.hero {
  background-image: linear-gradient(to right, #fad1faE1, #F5F5F5);
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
  border: none;
  font-family: 'font-family: Londrina', sans-serif;
  font-weight: bold;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px DOB5D3(0, 0, 0, 0.15);
}

.nav-link {
  transition: color 0.3s;
}
body {
  background-image: url('img/Fondo\ Caritas\ 2-03.png');
  background-size: cover;
  font-family: 'font-family: Londrina', sans-serif;
  font-weight: bold;
}
img {
  max-width: 100%;
  height: auto;
}
img:hover {
 transition: transform 0.3s, box-shadow 0.3s; 
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
 border-radius: 10px;
}
.footer {
  background-color: silver;
  font-family: 'font-family: Londrina', sans-serif;
  font-weight: bold;
}
@media (max-width: 768px) {
  .navbar, .footer {
    text-align: center;
    padding: 15px;
    font-family: 'font-family: Londrina', sans-serif;
  font-weight: bold;
  }

  .card {
    margin: 10px auto;
    width: 90%;
    font-family: 'font-family: Londrina', sans-serif;
  font-weight: bold;
  }

  img {
    margin: 10px auto;
  }
}