
body {
  background-image: url("img/Fondo Caritas 2-03.png"); 
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'font-family: Londrina', sans-serif;
  font-weight: bold;
}

@font-face {
  font-family: 'BubaDEMO-Outline';
  src: url('fonts/BubaDEMO-Outline.woff2') format('woff2'),
       url('fonts/BubaDEMO-Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.navbar {
  background-color: #92b632;
  font-family: 'font-family: Londrina', sans-serif;
  font-weight: bold;
}

.hero {
  background-image: linear-gradient(to right, #fad1faE1, #F5F5F5);
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
  border: none;
  font-family: 'font-family: Londrina', sans-serif;
  font-weight: bold;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
}

.nav-link {
  transition: color 0.3s;
}

.nav-link:hover {
  color: #9ac4f8 !important;
}

.footer {
  background-color: silver;
  padding: 20px;
  text-align: center;
  font-family: 'font-family: Londrina', sans-serif;
  font-weight: bold;
}

.video1 {
  padding: 0 15px; 
}

.video1 video {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.video1 video:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .navbar, .footer {
    text-align: center;
    padding: 15px;
    font-family: 'font-family: Londrina', sans-serif;
  font-weight: bold;
  }

  .card {
    margin: 10px auto;
    width: 90%;
    font-family: 'font-family: Londrina', sans-serif;
  font-weight: bold;
  }

  .video1 {
    padding: 10px 0;
  }

  .video1 video {
    width: 100%;
    height: auto;
  }
}
