body {
  background-image: url('img/Fondo\ Caritas\ 2-03.png');
  background-size: cover;
}
.nav-link {
  transition: color 0.3s;
}

.nav-link:hover {
  color: #9ac4f8 !important;
}

.footer {
  background-color: silver;
}
.navbar {
background-color: #92b632;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
  border: none;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px DOB5D3(0, 0, 0, 0.15);
}

.nav-link {
  transition: color 0.3s;
}
p{
  font-size: 13px;
}